<div class="modal-backdrop" (click)="closeModal()"></div>
<div class="modal-content">
    <h2>Ajouter une Question</h2>
    <form (ngSubmit)="onSubmit()">
        <label for="text">Question</label>
        <input id="text" [(ngModel)]="question.question" name="text" required />

        <label for="quiz">Quiz ID</label>
        <input id="quiz" [(ngModel)]="question.quizId" name="quiz" type="number" required />

        <label for="answers">Réponses</label>
        <div *ngFor="let answer of question.answers; let i = index">
            <input [(ngModel)]="question.answers[i].choice" [name]="'answer' + i" required />
            <input type="checkbox" [(ngModel)]="question.answers[i].isCorrect" [name]="'isCorrect' + i" /> Correct
        </div>

        <button type="submit">Ajouter</button>
        <button type="button" (click)="closeModal()">Annuler</button>
    </form>
</div>
