<div *ngIf="questions.length > 0; else noQuestions">
    <h2>{{ questions[currentQuestionIndex]?.question }}</h2>
    <img [src]="questions[currentQuestionIndex]?.image" *ngIf="questions[currentQuestionIndex]?.image" alt="Question Image">

    <!-- Afficher les choix -->
    <div *ngFor="let answer of questions[currentQuestionIndex]?.answers">
        <div *ngFor="let choice of answer.choices">
            <input
                    type="radio"
                    [value]="choice.id"
                    [checked]="selectedChoices.get(currentQuestionIndex)?.id === choice.id"
                    (change)="selectChoice(choice)">
            {{ choice.option }} <!-- Affichage de l'option du choix -->
        </div>
    </div>

    <button (click)="nextQuestion()">
        {{ currentQuestionIndex < questions.length - 1 ? 'Question suivante' : 'Terminer' }}
    </button>
</div>

<ng-template #noQuestions>
    <p>Aucune question disponible pour ce quiz.</p>
</ng-template>

<ng-container *ngIf="quizCompleted">
    <h2>Quiz terminé !</h2>
    <p>Votre score : {{ score }} sur {{ questions.length }}</p>
    <button (click)="resetQuiz()">Recommencer le quiz</button>
</ng-container>
