<div class="quiz-container">
    <h1>{{ themeName }}</h1> <!-- Le nom du thème sélectionné -->

    <div class="quiz-list">
        <div class="quiz-card" *ngFor="let quiz of quizzes">
            <div class="quiz-card-header">
                <img [src]="quiz.image" alt="{{ quiz.name}}" class="quiz-image">
            </div>
            <div class="quiz-card-body">
                <h2>{{ quiz.name }}</h2>
                <p>{{ quiz.description }}</p>
                <button class="start-quiz-button" (click)="startQuiz(quiz.id)">Commencer</button>
            </div>
        </div>
    </div>
</div>
