<nav *ngIf="isHomePage()">
    <div class="container nav-content">
        <div class="logo">TakItQuiz</div>
        <a routerLink="/">Accueil</a>
        <a routerLink="/themes">Thèmes</a>
        <a routerLink="/score">Score</a>
        <a routerLink="/admin">Admin</a>
        <ng-container *ngIf="isLoggedIn(); else showLoginButton">
            <button (click)="onLogout()" class="cta-button">Déconnexion</button>
        </ng-container>
        <ng-template #showLoginButton>
            <a routerLink="/connexion" class="cta-button">Connexion</a>
        </ng-template>
    </div>
</nav>

<nav *ngIf="isLoginPage()">
    <div class="container nav-content">
        <div class="logo">TakItQuiz</div>
        <a routerLink="/">Accueil</a>
        <a routerLink="/themes">Thèmes</a>
        <a routerLink="/score">Score</a>
    </div>
</nav>

<nav *ngIf="isThemePage()">
    <div class="container nav-content">
        <div class="logo">TakItQuiz</div>
        <a routerLink="/">Accueil</a>
        <a routerLink="/themes">Thèmes</a>
        <a routerLink="/score">Score</a>
        <a routerLink="/admin">Admin</a>
        <ng-container *ngIf="isLoggedIn(); else showLoginButton">
            <button (click)="onLogout()" class="cta-button">Déconnexion</button>
        </ng-container>
        <ng-template #showLoginButton>
            <a routerLink="/connexion" class="cta-button">Connexion</a>
        </ng-template>
    </div>
</nav>

<nav *ngIf="isQuizzesPage()">
    <div class="container nav-content">
        <div class="logo">TakItQuiz</div>
        <a routerLink="/">Accueil</a>
        <a routerLink="/themes">Thèmes</a>
        <a routerLink="/score">Score</a>
        <a routerLink="/admin">Admin</a>
        <ng-container *ngIf="isLoggedIn(); else showLoginButton">
            <button (click)="onLogout()" class="cta-button">Déconnexion</button>
        </ng-container>
        <ng-template #showLoginButton>
            <a routerLink="/connexion" class="cta-button">Connexion</a>
        </ng-template>
    </div>
</nav>

<nav *ngIf="isQuizPage()">
    <div class="container nav-content">
        <div class="logo">TakItQuiz</div>
        <a routerLink="/">Accueil</a>
        <a routerLink="/themes">Thèmes</a>
        <a routerLink="/score">Score</a>
        <a routerLink="/admin">Admin</a>
        <ng-container *ngIf="isLoggedIn(); else showLoginButton">
            <button (click)="onLogout()" class="cta-button">Déconnexion</button>
        </ng-container>
        <ng-template #showLoginButton>
            <a routerLink="/connexion" class="cta-button">Connexion</a>
        </ng-template>
    </div>
</nav>

<nav *ngIf="isScorePage()">
    <div class="container nav-content">
        <div class="logo">TakItQuiz</div>
        <a routerLink="/">Accueil</a>
        <a routerLink="/themes">Thèmes</a>
        <a routerLink="/score">Score</a>
        <a routerLink="/admin">Admin</a>
        <ng-container *ngIf="isLoggedIn(); else showLoginButton">
            <button (click)="onLogout()" class="cta-button">Déconnexion</button>
        </ng-container>
        <ng-template #showLoginButton>
            <a routerLink="/connexion" class="cta-button">Connexion</a>
        </ng-template>
    </div>
</nav>

<nav *ngIf="isAdminPage()">
    <div class="container nav-content">
        <div class="logo">TakItQuiz</div>
        <a routerLink="/">Accueil</a>
        <a routerLink="/themes">Thèmes</a>
        <a routerLink="/score">Score</a>
        <a routerLink="/admin">Admin</a>
        <ng-container *ngIf="isLoggedIn(); else showLoginButton">
            <button (click)="onLogout()" class="cta-button">Déconnexion</button>
        </ng-container>
        <ng-template #showLoginButton>
            <a routerLink="/connexion" class="cta-button">Connexion</a>
        </ng-template>
    </div>
</nav>

