<div class="container">
    <h1>Quiz pour le thème : {{ themeName }}</h1>
    <div *ngIf="quizzes && quizzes.length === 0">
        <p>Aucun quiz disponible pour ce thème pour le moment.</p>
    </div>
    <div class="quizzes-grid" *ngIf="quizzes.length > 0">
        <div class="quiz-card animated" *ngFor="let quiz of quizzes" (click)="quiz.id ? startQuiz(quiz.id) : null">
        <img [src]="quiz.image" [alt]="quiz.name" class="quiz-image">
            <div class="quiz-content">
                <div class="quiz-title">{{ quiz.name }}</div>
                <div class="quiz-description">{{ quiz.description }}</div>
            </div>
        </div>
    </div>
    <ng-template #noQuizzes>
        <p>Aucun quiz disponible pour ce thème pour le moment.</p>
    </ng-template>
</div>
