<div class="modal-backdrop" (click)="closeModal()"></div>
<div class="modal-content">
    <h2>Modifier la Question</h2>
    <form (ngSubmit)="onSubmit()">
        <label for="text">Question</label>
        <input id="text" [(ngModel)]="question.question" name="text" required />

        <label for="quiz">Quiz</label>
        <select id="quiz" [(ngModel)]="question.quizId" name="quiz" required>
            <option *ngFor="let quiz of quizzes" [value]="quiz.id">{{ quiz.name }}</option>
        </select>

        <label>Choix</label>
        <div *ngFor="let answer of question.answers; let i = index">
            <input [(ngModel)]="question.answers[i].choice.option" [name]="'answer' + i" required />
            <input type="checkbox" [(ngModel)]="question.answers[i].isCorrect"
                   [name]="'isCorrect' + i" (change)="onCorrectAnswerSelected(i)" /> Correct
        </div>

        <button type="submit">Enregistrer</button>
        <button type="button" (click)="closeModal()">Annuler</button>
    </form>
</div>
