<section class="hero">
    <div class="hero-content">
        <h1>Testez vos connaissances sur les jeux vidéos !</h1>
        <p>Découvrez divers quizz sur le thème des jeux vidéos </p>
        <button class="cta-button">Découvrir les thèmes</button>
    </div>
</section>

<section class="quiz-gallery">
    <div class="container">
        <h1 class="section-title">Nos Quizz Populaires</h1>
        <div class="quiz-grid">
            <div class="quiz-card">
                <img src="assets/LOL.jpg" alt="League Of Legends">
                <div class="quiz-card-content">
                    <h3>League Of Legends</h3>
                    <p>Êtes-vous digne d'être Master ?</p>
                    <button class="cta-button">Démarrer le quiz</button>
                </div>
            </div>
            <div class="quiz-card">
                <img src="assets/MC.jpg" alt="Minecraft">
                <div class="quiz-card-content">
                    <h3>Minecraft</h3>
                    <p>Connaissez-vous tous les secrets de ce monde cubique ?</p>
                    <button class="cta-button">Démarrer le quiz</button>
                </div>
            </div>
            <div class="quiz-card">
                <img src="assets/Pokemon-Logo.jpg" alt="Pokémon">
                <div class="quiz-card-content">
                    <h3>Pokémon</h3>
                    <p>Avez-vous réussi à tous les capturer ? Montrez-nous vos talents de dresseur ! ?</p>
                    <button class="cta-button">Démarrer le quiz</button>
                </div>
            </div>
            <div class="quiz-card">
                <img src="assets/valorant-logo.png" alt="Valorant">
                <div class="quiz-card-content">
                    <h3>Valorant</h3>
                    <p>Avez-vous ce qu'il faut pour devenir le meilleur agent du jeu ?</p>
                    <button class="cta-button">Démarrer le quiz</button>
                </div>
            </div>
        </div>
    </div>
</section>
