:host {
  --pastel-blue: rgba(28, 146, 156, 0.84);
  --off-black: #333;
  --text-color: #F8F8FF;
}

.hero {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--pastel-blue);
  background-image: url("/assets/fond2.jpg");
  background-size: cover;
  background-position: center;
}

.hero-content {
  position: relative;
  z-index: 3;
  text-align: center;
  background-color: rgb(255, 255, 255, 0.90);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--pastel-blue);
}

.quiz-gallery {
  padding: 4rem 0;
  background-color: dimgray;
}

.section-title {
  text-align: center;
  color: var(--pastel-blue);
  margin-bottom: 2rem;
  font-weight: bold;
}

.quiz-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.quiz-card {
  background-color: honeydew;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.quiz-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.quiz-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;

}

.quiz-card-content {
  padding: 1.5rem;
}

.quiz-card h3 {
  margin-top: 0;
  color: black;
  font-weight: bold;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--off-white);
  color: var(--text-color);
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}


.cta-button {
  z-index: 5;
  background-color: cadetblue;
  color: var(--text-color);
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 500;
}

.cta-button:hover {
  background-color: var(--pastel-blue);
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
